/*h1,h2,h3...h6 y links con Mr Eaves*/
.mreavesh1 {

    font-family: mr-eaves-sans, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 3.3em;
    color: #441259;
}

.mreavesh2 {

    font-family: mr-eaves-sans, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 2em;
    color: #6E268C;
}

.mreavesh3 {

    font-family: mr-eaves-sans, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.7em;
    color: #6E268C;
}

.h3descripcion {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3em;
    color: #441259;
}

.mreavesh4 {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.7em;
    line-height: 0.5em;

}

.mreavesh5 {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1em;
    opacity: 0.7;
}

.mreavesh6 {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3em;
    line-height: 1.1em;

}

.mreaveslink {
    font-family: mr-eaves-sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    color: #D9580D;
}


.mreavesp {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: gray;
    font-size: 1.3em;
}

/*Estilos de color para las secciones de Work*/
/*Product service design*/
.psdesign {
    color: #6E268C;
}

/*Strategic forecasting*/
.strfc {
    color: #C2232D;
}

/*Sport for development*/
.s4d {
    color: #E66912;
}

/*Estilos de navegación*/

.navlink {
    font-family: mr-eaves-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
}


#icono {
    font-family: blockhead-illust-ot, sans-serif;
    font-weight: 400;
    font-style: normal;
}
<<<<<<< Updated upstream
=======

/*Estilos de imagen*/
.intro-image-container {
    position: relative;
    display: inline-block;
}



.intro-image {
    display: block;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.intro-image-overlay {
    position: absolute;
    bottom: 0%;
    left: 2%;
    width: 96%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.intro-image-container:hover .intro-image-overlay {
    opacity: 1;
}

.intro-image-caption {
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding-left: 0%;
    padding-right: 2%;
    font-size: 0.8em;
    text-overflow: ellipsis;
}

.image-container {
    position: relative;
}

.caption {
    font-family: mr-eaves-modern, sans-serif;
    padding-top: 2em;
    position: relative;
    top: ;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: gray;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 300;
    z-index: 1;
}


.section-division {
    border-top: 10px solid;

}
>>>>>>> Stashed changes
