/*h1,h2,h3...h6 y links con Mr Eaves*/
.mreavesh1 {

    font-family: mr-eaves-sans, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 3.3em;
    color: #441259;
}

.mreavesh2 {

    font-family: mr-eaves-sans, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 2em;
    color: #6E268C;
}

.mreavesh3 {

    font-family: mr-eaves-sans, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.7em;
    color: #6E268C;
}

.h3descripcion {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3em;
    color: #441259;
}

.mreavesh4 {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.7em;
    line-height: 0.5em;

}

.mreavesh5 {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1em;
    opacity: 0.7;
}

.mreavesh6 {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3em;
    line-height: 1.1em;

}

.mreaveslink {
    font-family: mr-eaves-sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    color: #D9580D;
}


.mreavesp {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: gray;
    font-size: 1.3em;
}

/*Estilos de color para las secciones de Work*/
/*Product service design*/
.psdesign {
    color: #6E268C;
}

/*Strategic forecasting*/
.strfc {
    color: #C2232D;
}

/*Sport for development*/
.s4d {
    color: #E66912;
}

/*Estilos de navegación*/

.navlink {
    font-family: mr-eaves-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
}


#icono {
    font-family: blockhead-illust-ot, sans-serif;
    font-weight: 400;
    font-style: normal;
}
